@model mobile_recharger.Models.RechargePlan

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Detail of the RechargePlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-controller="Recharges" asp-action="Create" asp-route-id="@Model?.RechargePlanId" class="btn btn-primary mb-1">Recharge</a> 
    <a asp-action="Index" class=" btn-primary rounded text-white text-decoration-none   p-2 ">Back to List</a>
</div>
<div>
    @if (this.User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.RechargePlanId" class="btn btn-secondary">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.RechargePlanId" class="btn btn-danger">Delete</a>

    }
</div>